@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,rgb(156, 212, 241),rgb(244, 244, 246));
}
form{
    width: 25rem;
    height: 25rem;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    background: rgba(255,255,255,0.06);
    border-radius: 30px;
}
h1{
    font-size: 50px;
    text-align: center;
    color: black;
    letter-spacing: 3px;
    padding: 10px;

}
label{
    font-size: 20px;
    color: black;
    margin-left: 30px;
    padding: 10px;

}
input{
    width: 80%;
    height: 30px;
    margin-left: 30px;
    margin-bottom: 5%;
    background: transparent;
    color: black;
    border: none;
    cursor:text;
}
button{
    width: 50%;
    height: 30px;
    margin-left: 25%;
    border: none;
    cursor: pointer;
    background: transparent;
}
button:hover{
    background-color: black;
    color: white;
}
div{
    font-size: 10px;
    cursor: pointer;

}
a{
    font-size: 10px;
    text-align: center;
}